{% extends 'base.html.twig' %}

{% block title %}Stage-direct | Page de connexion
{% endblock %}

{% block body %}
	<form method="post" class="max-w-sm mx-auto">
		{% if error %}
			<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}

		{# {% if app.user %}
					<div class="mb-3 text-center">
						You are logged in as
						{{ app.user.userIdentifier }},
						<a href="{{ path('app_logout') }}" class="text-blue-600 hover:underline">Logout</a>
					</div>
				{% endif %} #}


		<div class="flex items-center justify-center min-h-screen bg-gray-100 dark:bg-gray-900">
			<div class="w-full max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow sm:p-6 md:p-8 dark:bg-gray-800 dark:border-gray-700">
				<form class="space-y-6" action="#">
					<h1 class="text-3xl font-semibold mb-6 text-center dark:text-white">Connectez-vous</h1>

					<div class="mb-5">
						<label for="username" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ton email</label>
						<input type="email" value="{{ last_username }}" name="_username" id="username" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" autocomplete="email" required autofocus>
					</div>

					<div class="mb-5">
						<label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Ton mot de passe</label>
						<input type="password" name="_password" id="password" class="shadow-sm bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-600 dark:border-gray-500 dark:placeholder-gray-400 dark:text-white" autocomplete="current-password" required>
					</div>

					<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

					<button type="submit" class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 w-full text-center">
						Connexion
					</button>
				</form>
			</div>
		</div>


	{% endblock %}
